@font-face {
    font-family: 'Bentho Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bentho Regular'), url('Bentho-x3LAq.woff') format('woff');
}

@font-face {
    font-family: 'Existence-Light';
    font-style: normal;
    font-weight: normal;
    src: local('Existence-Light'), url('https://www.cufonfonts.com/cdn/webfont/existence-light/Existence-Light.woff?token=m_zbvBE4dv5vYSHGpX-yEhX1KdAWoAUY') format('woff');
}

body {
    color: white;
    font-family: "Existence-Light", sans-serif;
}

.navbar {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

    .navbar .navbarIllustration {
        display: none;
    }
    .navbar .logo {
        grid-column: 2/3;
        align-self: center;

        font-family: "Bentho Regular", "Existence-Light";
        font-size: 1.3em;
    }

    .navbar .links {
        grid-column: 7/12;
    }

            .navbar .links nav ul {
                list-style: none;
                display: grid;
                grid-template-columns: repeat(autofit, minmax(100px, 1fr));
                grid-auto-flow: column;
            }

            .navbar .links nav ul li {
                display: inline;
            }

                .navbar .links nav ul li a{
                    text-decoration: none;
                    color: white;
                }
            
            .navbar .navbarIllustration img {
                width:100%;
                max-width: 50px;
                height: auto;
            }

.menu {
    user-select: none;
    display: none;
}

.dropdown {
    display: none;
}

    .dropdown nav ul {
        list-style: none;
    }
    
            .dropdown nav ul li a {
                text-decoration: none;
                color: white;
            }

.home {
    display: grid;
    margin: 130px 0px;
    grid-template-columns: repeat(8, 1fr);
}

    .home .homeIllustration {
        place-items: center;
        grid-column: 2/5;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

        .home .homeIllustration img{
            width: 100%;
            max-width: 400px;
            height: auto;
            grid-column: 2/6;
        }

    .home .homeContent {
        margin-left: 50px;
        grid-column: 5/8;
    }

        .home .homeContent .greetings {
            display: grid;
            width: 50%;
            grid-auto-flow: column;
            color: #FF9933;
            font-size: 0.9em;
        }

        .home .homeContent .name {
            margin-top: 40px;
            margin-bottom: 60px;
            font-size: 2.4em;
        }

        .home .homeContent .graduation {
            margin-bottom: 50px;
            color: #EFEFEF;
            font-size: 1em;
        }

        .home .homeContent .resume {
            width: 100%;
            max-width: 150px;
            height: auto;
            
            cursor: pointer;
        }
            .home .homeContent .resume .downloadButton {
                padding: 10px 0px;
                display: grid;
                grid-template-columns: repeat(5, 1fr);

                border-style: solid;
                border-width: 2px;
                border-color: #7780D4;
            }

            .home .homeContent .resume .downloadButton i {
                grid-column: 2/3;
                justify-self: start;
            }

            .home .homeContent .resume .downloadButton div {
                margin-top: 2px;
                margin-left: 3px;
                grid-column: 3/5;
            }


/* ********************************************************************** */

    @media only screen and (max-width: 700px) {
            .navbar .navbarIllustration {
                grid-column: 2/4;
                display: initial;
                place-items: center;
            }

            .navbar .logo {
                grid-column: 6/8;
                justify-self: center;
                align-self: center;
            }
            .navbar .links {
                display: none;
            }

            .menu {
                display: initial;
                grid-column: 11/12;
                cursor: pointer;
                justify-self: center;
                align-self: center;
            }

            .dropdown nav ul{
                display: grid;
                place-items: center;
                grid-template-rows: repeat(4, minmax(min-content, 40px));
                padding: 0px;
            }
            
        .home {
            margin-top: 100px;
        }
            .home .homeIllustration {
                display: none;
            }

            .home .homeContent {
                margin-left: 10px;
                grid-column: 2/8;
            }

            .home .homeContent .greetings {
                width:100%;
            }
    }